body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  Margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block; }

center {
  width: 100%;
  min-width: 680px; }

a img {
  border: none; }

p {
  margin: 0 0 0 10px;
  Margin: 0 0 0 10px; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; }

table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left; }

@media only screen {
  html {
    min-height: 100%;
    background: #052A42; } }

table.body {
  background: #052A42;
  height: 100%;
  width: 100%; }

table.container {
  background: #fefefe;
  width: 680px;
  margin: 0 auto;
  Margin: 0 auto;
  text-align: inherit; }

table.row {
  padding: 0;
  width: 100%;
  position: relative; }

table.spacer {
  width: 100%; }
  table.spacer td {
    mso-line-height-rule: exactly; }

table.container table.row {
  display: table; }

th.columns {
  margin: 0 auto;
  Margin: 0 auto;
  padding-left: 0;
  padding-bottom: 16px; }
  th.columns .columns {
    padding-left: 0 !important;
    padding-right: 0 !important; }

th.columns.last {
  padding-right: 0; }

th.columns table:not(.button) {
  width: 100%; }

th.large-1 {
  width: 56.66667px;
  padding-left: 0;
  padding-right: 0; }

th.large-1.first {
  padding-left: 0; }

th.large-1.last {
  padding-right: 0; }

.body .columns th.large-1 {
  width: 8.33333%; }

th.large-4 {
  width: 226.66667px;
  padding-left: 0;
  padding-right: 0; }

th.large-4.first {
  padding-left: 0; }

th.large-4.last {
  padding-right: 0; }

.body .columns th.large-4 {
  width: 33.33333%; }

th.large-7 {
  width: 396.66667px;
  padding-left: 0;
  padding-right: 0; }

th.large-7.first {
  padding-left: 0; }

.body .columns th.large-7 {
  width: 58.33333%; }

th.large-11 {
  width: 623.33333px;
  padding-left: 0;
  padding-right: 0; }

th.large-11.last {
  padding-right: 0; }

.body .columns th.large-11 {
  width: 91.66667%; }

th.large-12 {
  width: 680px;
  padding-left: 0;
  padding-right: 0; }

th.large-12.first {
  padding-left: 0; }

th.large-12.last {
  padding-right: 0; }

.body .columns th.large-12 {
  width: 100%; }

th.expander {
  visibility: hidden;
  width: 0;
  padding: 0 !important; }

@media only screen and (max-width: 680px) {
  .small-float-center {
    margin: 0 auto !important;
    float: none !important;
    text-align: center !important; }
  .small-text-center {
    text-align: center !important; } }

img.float-right {
  float: right;
  text-align: right; }

table.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

@media only screen and (max-width: 680px) {
  table.body table.container .show-for-large {
    display: none !important;
    width: 0;
    mso-hide: all;
    overflow: hidden; } }

body,
table.body,
h2,
p,
td,
th,
a {
  color: #0a0a0a;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 1.3; }

h2 {
  color: inherit;
  word-wrap: normal;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  Margin-bottom: 10px; }

h2 {
  font-size: 30px; }

body,
table.body,
p,
td,
th {
  font-size: 16px;
  line-height: 1.3; }

p {
  margin-bottom: 10px;
  Margin-bottom: 10px; }

a {
  color: #165D8A;
  text-decoration: none; }
  a:hover {
    color: #0f3f5e; }
  a:active {
    color: #0f3f5e; }
  a:visited {
    color: #165D8A; }

span.preheader {
  display: none !important;
  visibility: hidden;
  mso-hide: all !important;
  font-size: 1px;
  color: #052A42;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

@media only screen and (max-width: 680px) {
  table.body img {
    width: auto;
    height: auto; }
  table.body center {
    min-width: 0 !important; }
  table.body .container {
    width: 100% !important; }
  table.body .columns {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0 !important;
    padding-right: 0 !important; }
    table.body .columns .columns {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  th.small-2 {
    display: inline-block !important;
    width: 16.66667% !important; }
  th.small-3 {
    display: inline-block !important;
    width: 25% !important; }
  th.small-6 {
    display: inline-block !important;
    width: 50% !important; }
  th.small-10 {
    display: inline-block !important;
    width: 83.33333% !important; }
  th.small-12 {
    display: inline-block !important;
    width: 100% !important; }
  .columns th.small-12 {
    display: block !important;
    width: 100% !important; } }

/* Custom Styles Pulso UDD */
.header {
  background-color: #165D8A; }

.img-logo {
  margin: 36px auto;
  margin-left: 49px; }

.img-30 {
  float: right;
  margin-right: 49px; }

.cont-logo {
  padding-bottom: 0 !important; }

/* Destacado */
.destacado {
  padding-bottom: 0 !important; }
  .destacado.first, .destacado.last {
    padding: 0; }

/* Secciones */
.caja-seccion {
  padding: 0 !important; }
  .caja-seccion.bg-dark {
    background-color: #042032; }
  .caja-seccion.bg-light {
    background-color: #0C3E5F; }
  .caja-seccion a {
    color: rgba(255, 255, 255, 0.7); }
  .caja-seccion .vineta {
    font-size: 18px;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 0; }
  .caja-seccion .icono {
    margin-top: 20px;
    margin-right: 20px; }

/* Eventos */
.evento .first, .evento .last {
  padding-bottom: 0; }

.evento p {
  margin-right: 49px; }

.eventos {
  background-color: #8AAEC4; }
  .eventos img, .eventos h2 {
    display: inline-block; }
  .eventos img {
    margin-bottom: -5px; }
  .eventos h2 {
    color: #165D8A;
    margin-left: 15px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 22px; }
  .eventos .cont-eventos {
    padding: 44px 49px; }
  .eventos p {
    font-size: 18px;
    margin-bottom: 0; }

.spacer-eventos {
  margin: 20px 49px;
  border-top: 1px solid rgba(0, 98, 161, 0.3); }

.fecha {
  color: rgba(0, 84, 161, 0.5);
  line-height: .8;
  text-align: center;
  display: block;
  font-weight: 800;
  width: 45px;
  margin-right: 20px;
  margin-left: 49px; }

.dia {
  font-size: 33px;
  margin-bottom: 5px;
  display: inline-block; }

.mes {
  font-size: 18px;
  display: inline-block; }

.icon-calendar {
  margin-left: 49px; }

/* Footer */
.footer {
  background-color: #006EAA; }
  .footer.first.last {
    padding: 34px 49px !important; }
  .footer img {
    max-width: 240px; }
  .footer .acredita {
    max-width: 178px;
    float: right; }

hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px; }

.direcciones {
  color: #FFF;
  font-size: 10px; }
  .direcciones a {
    color: #FFF;
    text-decoration: underline;
    display: block; }
  .direcciones strong {
    display: block;
    font-size: 12px; }

.redes-sociales img {
  float: right; }

@media only screen and (max-width: 696px) {
  .caja-seccion {
    padding-top: 20px !important; }
    .caja-seccion .vineta {
      padding-top: 0; }
    .caja-seccion img {
      margin-top: 16px !important; }
  .footer .acredita {
    float: none; }
  .img-30 {
    display: none;
    margin: 0 auto;
    float: none; }
  .direcciones {
    margin-left: 20px; }
  .fecha {
    margin-left: 20px !important;
    margin-right: 20px; }
  .evento p {
    margin-left: 20px !important;
    margin-right: 20px !important; }
  .icon-calendar {
    margin: 0 14px 0 20px;
    margin-left: 20px !important; }
  .cont-eventos {
    padding: 44px 0; } }
